<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">

<div class="container">
	<div class="row">
		<div class="col-10 offset-1">
			<div class="card mt-5">
				<div class="row mt-4">
					<div class="col-9 text-center">
						<h1 style="padding-top: 40px">Verifizierung deiner E-Mail</h1>
					</div>
					<div class="col-3">
						<img src="register.png" width="128px" />
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-12 text-center">
						<h2>Hallo Santos !</h2>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-10 offset-1 text-center">
						<h4>Vielen Dank für deine Registrierung. Klicke auf den Button unterhalb, um deine
                                    E-Mail zu bestätigen. Dann kannst du gleich loslegen!</h4>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-10 offset-1 text-center">
						<a href="#" target="_blank"><button class="btn btn-secondary"><h4>E-Mail bestätigen</h4></button></a>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-5 text-right">
						<h2>Dein</h2>
					</div>
					<div class="col-2 text-center">
						<a target="_blank"><img src="logo.png" width="128px" /></a>
					</div>
					<div class="col-5 text-left">
						<h2>-Team</h2>
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-10 offset-1 text-center">
						<h5>© Dype 2020</h5>
					</div>
				</div>
				<br>
				<div class="row mb-5">
					<div class="col-10 offset-1 text-right">
						<button class="btn btn-link">Mails bearbeiten</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
