<%- include ./partials/header %>

<div class="lost-password">
   <div class="container">
     <div class="inner-lost-password">
       <div class="lost-password-heading">
         <p>Passwort vergessen? Bitte geben Sie Ihren Benutzernamen oder Ihre E-Mail-Adresse ein. Sie erhalten per E-Mail einen Link zum Erstellen eines neuen Passworts.</p>
       </div>
       <div class="lost-password-form">
         <div class="row">
             <div class="col-md-6">
              <%- include('partials/msg') %>
               <form action="/reset-password" method="POST">
                 <div class="form-group">
                   <label class="login-label" for="text">Benutzername oder E-Mail-Adresse <span>*</span></label>
                   <input type="text" class="form-control login-input" placeholder="Geben sie ihre E-Mail Adresse ein" name="email">
                 </div>
                 <div class="reset-btn">
                   <button>Passwort zurücksetzen</button>
                 </div>
               </form>
             </div>
             <div class="col-md-6">
             </div>
         </div>
       </div>
     </div>
   </div>
 </div>


<%- include ./partials/footer %>