<%- include ./partials/header %>
<div class="memberhip-plan">
   <div class="container">
     <div class="inner-membership-plan">
       <div class="row">
         <div class="col-md-6">
           <div class="Basic-plan" data-aos="fade-up" data-aos-duration="1500">
             <div class="Basic-plan-content">
               <div class="Basic-plan-head">
                 <h2>1 Monat kostenlos testen</h2>
                 <h5>Basic</h5>
                 <h1>Kostenlos</h1>
                 <h4>/Monat</h4>
               </div>
               <div class="Basic-plan-brief">
                 <p>Publiziere Inhalte und erreiche Menschen Bis zu 7 Minuten kostenloser Lesezeit täglich Erhalte Zugriff auf Inhalte aus 2 Kategorien</p>
               </div>
               <div class="Basic-plan-btn">
                 <form action="/onboarding" method="POST">
                  <input type="hidden" name="categoryCount" value="2"/>
                  <%if(user){%>
                  <% if(user.paid == "paid"){%>
                 <a href="/downgrade?user=<%= user.id%>" style="color: #fff;border: 1px solid #fff;padding: 13px 15px;text-decoration: none !important;background: transparent;
                 font-size: 16px;" type="button">DownGrade<i style="margin-left: 10px;" class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                 <%} else if(user.paid == "free") {%>
                  <!-- <button type="submit"><span>Basic-Member werden</span><span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></button> -->
                  <% }%>
                  <% }%>
                </form>
               </div>
             </div>
           </div>
         </div>
         <div class="col-md-6">
           <div class="premium-plan" data-aos="fade-up" data-aos-duration="1500">
             <div class="premium-plan-content">
               <div class="premium-plan-head">
                 <h2>1 Monat kostenlos testen</h2>
                 <h5>Premium</h5>
                 <h1>5,99 €</h1>
                 <h4>/Monat</h4>
               </div>
               <div class="premium-plan-brief">
                 <p>Publiziere Inhalte und erreiche Menschen Genieße unsere Inhalte unbegrenzt Lese exklusive Inhalte von verifizierten Autoren Lese aus allen Kategorien Markiere inspirierende Passagen Folge Autoren Kündige jederzeit</p>
               </div>
               <div class="premium-plan-btn">
                <form action="/onboarding" method="POST">
                <input type="hidden" name="categoryCount" value="10"/>
                <% if(user){%>
                <% if(user.paid == "free"){%>
                 <button type="button" id="premium"><span>Premium-Member werden</span><span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></button>
                 <% }%>
                 <% }%>
                 </form>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <script src="https://js.stripe.com/v3/"></script>
 <script src="/js/membership.js" defer></script>
 
<%- include ./partials/footer %>