<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design for Bootstrap</title>
    <!-- MDB icon -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/mdb/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/mdb/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/mdb/css/style.css">
    <style>
        .container {
            /* background-image: url("/media/5f4e8cb348415ab05cd8af4bb14a4946d00d7cb61584729440652.png"); */
            margin-top: 300px;
        }
        body,
        html {
            height: 100%;
        }
        #form1{
            font-size: 2.5rem;
        }
    </style>
</head>

<body>
    <!-- Start your project here-->
    <div class="container title">
        <div class="row">
            <div class="col-2">
                <img src="<%= user.profilePicture%>" class="rounded-circle img-fluid" width="120px"/>
            </div>
            <div class="col-10">
                <div class="md-form">
                    <input type="text" id="form1" class="form-control">
                    <label for="form1" style="font-size: 1.5rem;">Title</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-2">
                <button class="btn btn-danger title-next">Next</button>
            </div>
        </div>
    </div>
    <!-- End your project here-->
    <!-- jQuery -->
    <script type="text/javascript" src="/mdb/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/mdb/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/mdb/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/mdb/js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <script type="text/javascript">
        $(function(){
            $('.title-next').click(function(){
                
            });
        })
    </script>

</body>

</html>